workflows/Task Management Agent.json
{
  "active": true,
  "activeVersion": {
    "updatedAt": "2026-07-10T14:10:42.000Z",
    "createdAt": "2026-07-10T14:10:01.753Z",
    "versionId": "81e3771a-ee00-43de-b46c-487c30da12b3",
    "workflowId": "EZxTSJLatS4LxK07",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "cronExpression",
                "expression": "0 9-17 * * 1-5"
              }
            ]
          }
        },
        "id": "358a01ef-c4ba-4c53-ae74-e2034327c5d5",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1,
        "position": [
          -1104,
          272
        ]
      },
      {
        "parameters": {
          "resource": "user",
          "user": {
            "__rl": true,
            "value": "1129716018455402806",
            "mode": "list",
            "cachedResultName": "Michael McCall (mmccall@bigpanda.io)"
          },
          "requestOptions": {}
        },
        "type": "n8n-nodes-base.gong",
        "typeVersion": 1,
        "position": [
          -688,
          272
        ],
        "id": "4b87cb8d-f3a4-4c3e-889b-b4df05795462",
        "name": "Get user",
        "credentials": {
          "gongApi": {
            "id": "217eZdugKIyLqdFd",
            "name": "Gong account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse and subtract 30 minutes\nconst minus30 = DateTime.fromISO($input.first().json.timestamp).minus({ minutes: 30 }).toISO();\n\n// Parse and subtract 300 minutes for testing\nconst minus7200 = DateTime.fromISO($input.first().json.timestamp).minus({ minutes: 7200 }).toISO();\n\n// Attach back onto the JSON\n$input.first().json.timestampMinus30 = minus30;\n$input.first().json.timestampMinus7200 = minus7200;\nreturn $input.first();"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -896,
          272
        ],
        "id": "56dae445-600e-4b2a-b2c7-499d5be0b7cf",
        "name": "Set get calls timestamp"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.gong.io/v2/calls/extensive",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "gongApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"cursor\": \"\",\n  \"filter\": {\n    \"fromDateTime\": \"{{ $('Set get calls timestamp').item.json.timestampMinus7200 }}\",\n    \"workspaceId\": \"6362182950817891979\"\n  },\n  \"contentSelector\": {\n    \"context\": \"None\",\n    \"exposedFields\": {\n      \"parties\": true,\n      \"content\": {\n        \"structure\": false,\n        \"topics\": false,\n        \"trackers\": false,\n        \"trackerOccurrences\": false,\n        \"pointsOfInterest\": false,\n        \"brief\": false,\n        \"outline\": false,\n        \"highlights\": false,\n        \"callOutcome\": false,\n        \"keyPoints\": false\n      }\n    }\n  }\n}",
          "options": {
            "pagination": {
              "pagination": {
                "parameters": {
                  "parameters": [
                    {
                      "type": "body",
                      "name": "cursor",
                      "value": "={{ $response.body.records.cursor }}"
                    }
                  ]
                },
                "paginationCompleteWhen": "other",
                "completeExpression": "={{ $response.body.records.cursor.isEmpty() }}",
                "requestInterval": 10
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          -464,
          272
        ],
        "id": "779a1e26-cf8b-4470-8064-0785802d3555",
        "name": "Get All Recent Calls",
        "alwaysOutputData": true,
        "retryOnFail": true,
        "credentials": {
          "gongApi": {
            "id": "217eZdugKIyLqdFd",
            "name": "Gong account"
          }
        }
      },
      {
        "parameters": {
          "url": "https://api.clickup.com/api/v2/space/90170841945/list?archived=false",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "clickUpApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          512,
          496
        ],
        "id": "6bfeed64-334f-4549-8b67-448cb13a46bd",
        "name": "Lookup ClickUp Lists",
        "credentials": {
          "clickUpApi": {
            "id": "s59KCIKlvpfmEhtW",
            "name": "ClickUp account"
          }
        }
      },
      {
        "parameters": {
          "url": "=https://api.clickup.com/api/v2/list/{{ $json.task_list_id }}/task",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "clickUpApi",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1328,
          784
        ],
        "id": "cf2d6dd5-1c93-451e-a1b8-cb35ebb5b717",
        "name": "Get List Tasks",
        "credentials": {
          "clickUpApi": {
            "id": "s59KCIKlvpfmEhtW",
            "name": "ClickUp account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://api.gong.io/v2/calls/transcript",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "gongApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"filter\": {\n    \"callIds\": [\"{{ $('Split Out Customer + Call Data').item.json.id }}\"]\n  }\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          1520,
          784
        ],
        "id": "3602fbbd-4aa2-4c2c-a4f3-2b35f8290fb2",
        "name": "Get call transcript",
        "credentials": {
          "gongApi": {
            "id": "217eZdugKIyLqdFd",
            "name": "Gong account"
          }
        }
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-5.2",
            "mode": "list",
            "cachedResultName": "GPT-5.2"
          },
          "messages": {
            "values": [
              {
                "content": "=Please scan the entire json CALL TRANSCRIPT, not just the preview or snippet. Your job is to extract action items and emit them as tasks that conform to the BigPanda Account Task standard (see TASK STANDARD below). Follow this chain of actions:\n\n1. Determine any action items that were discussed on the call and capture the ACTION ITEM DETAILS for each.\n2. Compare the action items found on the CALL TRANSCRIPT to the EXISTING TASKS provided to determine the \"task_status\" (New / In Progress / On Hold / Complete).\n3. Use the CALL DATA to add the corresponding call title, call date, and Gong call URL to each task (this is the task's Source).\n4. Determine the task OWNER and set \"assignee\" per the ASSIGNEE RULE below. Use the \"speaker_map\" to resolve speakerIds to names.\n5. Populate the DESCRIPTION FIELDS below — discrete, single-line strings. Do NOT output a \"description\" string; a downstream Code node assembles these fields into the final markdown description.\n6. Add Task Category based on TASK CATEGORIES. If it doesn't match one in TASK CATEGORIES, infer one and append it to the end of \"Other - \".\n7. Set \"due_date\" and \"priority\" per the SCHEDULING RULE below (most tasks will leave both null).\n8. Set \"level_of_effort\" and \"tags\" per the standard.\n9. Format the output exactly like the OUTPUT JSON section. You MUST respond with NOTHING except the JSON.\n\n=== TASK STANDARD ===\n\nASSIGNEE RULE\n- \"assignee\" is the person on the BigPanda side who OWNS the action item — the one responsible for completing it. This is often Michael McCall, but NOT always. If another BigPanda team member clearly owns it, use their name.\n- The owner is not necessarily the speaker. Determine who is actually responsible for the action.\n- People who are merely mentioned, looped in, or who need to be coordinated with — and ALL customer/external people — are NOT the assignee. List them in the \"## Stakeholders\" section of the description instead.\n- If no clear internal owner can be determined, set \"assignee\" to null and add \"needs-detail\" to \"tags\".\n- Never write the assignee into the description text; it belongs only in the \"assignee\" field.\n\nSCHEDULING RULE\n- \"due_date\": set ONLY if a clear date or deadline was committed on the call (e.g. \"by Thursday\", \"before the EBR on the 14th\"). Compute the actual calendar date (format YYYY-MM-DD) using the call date as the reference point. Never put a due date on a Saturday or Sunday. If no date was stated, set \"due_date\" to null — the prioritizer will set it.\n- \"priority\": set ONLY when \"due_date\" is also set. Choose one of \"urgent\" / \"high\" / \"normal\" / \"low\" based on the urgency implied on the call. If \"due_date\" is null, set \"priority\" to null.\n- Whether or not a date was stated, capture the timing phrase in the \"## Forcing function\" section of the description (\"None stated\" if absent).\n\nDESCRIPTION FIELDS (each is a plain, SINGLE-LINE string — no line breaks. For any verbatim phrase, use single quotes 'like this', NEVER double quotes. The downstream Code node assembles these into the markdown description, so do not include markdown headers yourself.)\n- \"the_ask\": 1-2 sentences — the explicit request or commitment. Paraphrase; if you must quote, use single quotes.\n- \"definition_of_done\": the concrete deliverable or answer that means this is finished, and who receives it.\n- \"stakeholders\": an ARRAY of single-line strings, each \"Name — role — internal | customer\". Use [] if none.\n- \"forcing_function\": any date/event the ask is tied to, or \"None stated\".\n- \"context\": background needed to act: why it matters, relevant history from the call.\n(The ## Source section is built automatically from call_title, source_call_url, source_call_date, and timestamp — you do not write it.)\n\nLEVEL OF EFFORT\n- \"level_of_effort\": \"Small\" (<=30m) / \"Medium\" (1-2h) / \"Large\" (half-day+) if reasonably inferable, else null.\n\nTAGS (controlled vocabulary — only use these)\n- Always include \"gong-generated\".\n- Add any that apply: \"customer-commitment\" (we promised the customer this on the call), \"waiting-on-customer\", \"internal-blocker\", \"product-feedback\", \"renewal\", \"expansion\", \"needs-scheduling\".\n- Add \"needs-detail\" if the owner is unknown OR a clear definition of done could not be determined.\n\nSOURCE CALL\n- \"source_call_url\": the Gong call link from CALL DATA (use the call's url field, or construct https://us-1155.app.gong.io/call?id={callId}).\n- \"source_call_date\": the call date (YYYY-MM-DD) from CALL DATA.\n\n=== ACTION ITEM DETAILS (capture per item) ===\n1. Call title, call date, and Gong call URL (the Source)\n2. Task status (infer \"New\" / \"In Progress\" / \"On Hold\" / \"Complete\" — check EXISTING TASKS to see if one already exists)\n3. Owner / assignee (per the ASSIGNEE RULE — name, or null)\n4. Call timestamp reference — the hour and minute when it was discussed\n5. Task list ID (the corresponding customer's task_list_id)\n6. Task category + task category index (0-5, per TASK CATEGORIES)\n7. Due date and priority (per the SCHEDULING RULE — usually null)\n8. Level of effort and tags\n\nIF the task is \"New\", also include:\n9. Task title (concise, action-first, include the account in parentheses if the title alone is ambiguous)\n10. Description fields (the_ask, definition_of_done, stakeholders, forcing_function, context)\n\nIF the task is \"In Progress\", also include:\n9. Task title (use the existing one from the task in ClickUp)\n10. Description fields (the_ask, definition_of_done, stakeholders, forcing_function, context — merge the existing task's content with any updates from this call)\n11. Task comment (a short summary of the relevant details discussed on this call as it pertains to this task — added as a comment to keep a running log)\n12. Existing ClickUp task ID (pull this from the task object; do NOT leave it blank. If there isn't one, convert it to a \"New\" task instead)\n\nCALL TRANSCRIPT\n{{ $json.callTranscripts[0].transcript.toJsonString() }}\n\nCALL DATA\n{{ $('Format customer object').item.json.message.content.calls.toJsonString() }}\n\nEXISTING TASKS\n{{ $('Get List Tasks').item.json.tasks.toJsonString() }}\n\nTASK CATEGORIES\n[0] \"Scheduling\" - need to schedule a call or meeting\n[1] \"Support Update\" - Look for an update from the support team on an outstanding bug, feature request, \"RFE\", or suggestion\n[2] \"Follow Up with Information\" - need to check with someone not on the call and relay information back to someone on the call\n[3] \"Tool Configuration Update\" - Make updates to BigPanda or other tools to improve their configuration or functionality. This includes creating and updating analytics dashboards inside BigPanda.\n[4] \"Document/Deliverable\" - Preparation, completion, or an update to a document, slide deck, value assessment, ILA, etc\n[5] \"Other - xxx\"\n\nOUTPUT JSON\n{\n  \"tasks\": [\n    {\n      \"call_title\": \"...\",\n      \"task_title\": \"...\",\n      \"the_ask\": \"...\",\n      \"definition_of_done\": \"...\",\n      \"stakeholders\": [\"Name — role — internal | customer\"],\n      \"forcing_function\": \"None stated\",\n      \"context\": \"...\",\n      \"timestamp\": \"hh:mm\",\n      \"assignee\": \"Full Name or null\",\n      \"task_status\": \"New\",\n      \"task_list_id\": \"xxxx\",\n      \"task_category\": \"xxxx\",\n      \"task_category_index\": \"x\",\n      \"due_date\": null,\n      \"priority\": null,\n      \"level_of_effort\": \"Small | Medium | Large | null\",\n      \"source_call_url\": \"https://us-1155.app.gong.io/call?id=...\",\n      \"source_call_date\": \"YYYY-MM-DD\",\n      \"tags\": [\"gong-generated\"]\n    },\n    {\n      \"call_title\": \"...\",\n      \"task_title\": \"...\",\n      \"the_ask\": \"...\",\n      \"definition_of_done\": \"...\",\n      \"stakeholders\": [\"Name — role — internal | customer\"],\n      \"forcing_function\": \"None stated\",\n      \"context\": \"...\",\n      \"task_comment\": \"...\",\n      \"timestamp\": \"hh:mm\",\n      \"assignee\": \"Full Name or null\",\n      \"task_status\": \"In Progress\",\n      \"clickup_id\": \"...\",\n      \"task_list_id\": \"xxxx\",\n      \"task_category\": \"xxxx\",\n      \"task_category_index\": \"x\",\n      \"due_date\": null,\n      \"priority\": null,\n      \"level_of_effort\": \"Small | Medium | Large | null\",\n      \"source_call_url\": \"https://us-1155.app.gong.io/call?id=...\",\n      \"source_call_date\": \"YYYY-MM-DD\",\n      \"tags\": [\"gong-generated\"]\n    }\n  ]\n}"
              }
            ]
          },
          "jsonOutput": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          1712,
          784
        ],
        "id": "e6387f7b-cf1b-45da-b30b-5c12b3617a0e",
        "name": "Analyze Tasks",
        "credentials": {
          "openAiApi": {
            "id": "QI8VhWIOBcvTDoFc",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.clickup.com/api/v2/task/{{ $json.id }}/comment",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "clickUpApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "comment_text",
                "value": "=AI AGENT UPDATE: {{ $('If New Task').item.json.task_comment }}\n\nCall Title: {{ $('If New Task').item.json.call_title }}\n\nCall Timestamp: {{ $('If New Task').item.json.timestamp }}\n\nTask Category: {{ $('If New Task').item.json.task_category }}"
              },
              {
                "name": "notify_all",
                "value": "false"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2208,
          1344
        ],
        "id": "7384c710-3f85-45b6-99a0-f01051b2353f",
        "name": "Add task comments",
        "credentials": {
          "clickUpApi": {
            "id": "s59KCIKlvpfmEhtW",
            "name": "ClickUp account"
          }
        }
      },
      {
        "parameters": {
          "method": "PUT",
          "url": "=https://api.clickup.com/api/v2/task/{{ $json.clickup_id }}",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "clickUpApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "status",
                "value": "={{ $json.task_status }}"
              },
              {
                "name": "custom_fields",
                "value": "=[\n  {\n    \"value\": \"{{ $json.task_category_index }}\",\n    \"id\": \"d528c55b-b687-4a89-aec2-ffad5fb920bb\"\n  }\n]"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2016,
          1344
        ],
        "id": "7082d0a0-7c54-4ff3-81ed-9247ce0b457c",
        "name": "Update Task Status",
        "credentials": {
          "clickUpApi": {
            "id": "s59KCIKlvpfmEhtW",
            "name": "ClickUp account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.clickup.com/api/v2/task/{{ $json.id }}/comment",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "clickUpApi",
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "comment_text",
                "value": "=AI AGENT UPDATE: Added new task\n\nCall Title: {{ $('If New Task').item.json.call_title }}\n\nCall Timestamp: {{ $('If New Task').item.json.timestamp }}\n\nTask Category: {{ $('If New Task').item.json.task_category }}"
              },
              {
                "name": "notify_all",
                "value": "false"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2208,
          1104
        ],
        "id": "9345e1f5-14f3-4212-b37a-104c7d8a3541",
        "name": "Add new task comment",
        "credentials": {
          "clickUpApi": {
            "id": "s59KCIKlvpfmEhtW",
            "name": "ClickUp account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "const myEmail = \"mmccall@bigpanda.io\";\nconst internalDomain = \"@bigpanda.io\";\n\nconst calls = $input.all();\nconst allCalls = calls[0].json;\n\n// Merge any additional returned call batches into one call list.\nfor (let c = 1; c < calls.length; c++) {\n  allCalls.calls = [...allCalls.calls, ...calls[c].json.calls];\n}\n\n// Loop backward so removing calls with splice does not skip any items.\nfor (let i = allCalls.calls.length - 1; i >= 0; i--) {\n  const call = allCalls.calls[i];\n\n  // Default to an empty participant list if the call has no parties field.\n  const parties = call.parties || [];\n\n  // Normalize participant emails and remove parties that do not have an email address.\n  const partyEmails = parties\n    .map(party => party.emailAddress?.toLowerCase())\n    .filter(Boolean);\n\n  // Default to an empty title if metadata or title is missing.\n  const title = call.metaData?.title || \"\";\n\n  // Identify which calls have my email as one of the participants.\n  const hasMyEmail = partyEmails.includes(myEmail.toLowerCase());\n\n  // Identify internal-only calls where every participant has a BigPanda email.\n  // These are filtered out because there are no external/customer attendees.\n  const isInternalOnlyCall =\n    partyEmails.length > 0 &&\n    partyEmails.every(email => email.endsWith(internalDomain));\n\n  if( hasMyEmail) {\n  console.log(title + ' ' + isInternalOnlyCall);\n  }\n\n  // Filter out calls where the RSA is handling task management.\n  const hasRSA = title.includes(\"Labcorp Working Session\");\n\n  // Remove the call if:\n  // - I was not a participant\n  // - It was internal-only\n  // - It matched the RSA / working session exclusion\n  if (!hasMyEmail || isInternalOnlyCall || hasRSA) {\n    allCalls.calls.splice(i, 1);\n  }\n}\n\nreturn allCalls;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          224,
          272
        ],
        "id": "d13aa510-901d-4b71-a040-00d680929d25",
        "name": "Filter out other calls"
      },
      {
        "parameters": {
          "mode": "runOnceForEachItem",
          "jsCode": "const inputArray = $input.item.json;  // your original array\nconst outputArray = [];\n\n\n// slim down metadata\nconst slimMeta = {\n  id:    inputArray.metaData && inputArray.metaData.id,\n  title: inputArray.metaData && inputArray.metaData.title\n};\n\n  // slim down parties\n  const slimParties = [];\n  const parties = Array.isArray(inputArray.parties) ? inputArray.parties : [];\n  for (let k = 0; k < parties.length; k++) {\n    const p = parties[k];\n    slimParties.push({\n      speaker_id:    p.speakerId,\n      speaker_email: p.emailAddress,\n      speaker_name:  p.name\n    });\n  }\n\n  // assemble slimmed call\n  outputArray.push({\n    metaData: slimMeta,\n    parties:  slimParties\n  });\n\n\nlet slimCalls = { \"calls\": outputArray};\nreturn slimCalls;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -688,
          512
        ],
        "id": "41d54046-6ca6-4235-bff9-8bf73728541e",
        "name": "Format call data"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "value": "gpt-4.1",
            "mode": "list",
            "cachedResultName": "GPT-4.1"
          },
          "messages": {
            "values": [
              {
                "content": "=Please scan the entire json payload below under \"PAYLOAD\", not just the preview or snippet, for the parties array of each call object and return the \"CALL DETAILS\". Review the TASK LISTS data to get the corresponding task_list_id based on the customer_name and the list name.\n\nPlease format it in JSON like the \"OUTPUT JSON\" section and respond with NOTHING except the JSON.\n\nNOTE: If task has task_list_id = null, drop it from the calls array\n\nCALL DETAILS\n1. call ID\n2. title \n3. customer_name (infer this from non-bigpanda.io emails and call titles. Note: Upbound and Rent-A-Center are the same customer.)\n4. task_list_id\n5. speaker_map (an array mapping all speakerIds to their names from the \"parties\" array)\n\nTASK LISTS\n{{ $json.lists.toJsonString() }}\n\nOUTPUT JSON\n{\n  \"calls\": [\n    {\n       \"id\": \"xxxx\",\n       \"title\": \"...\",\n       \"customer_name\": \"...\",\n       \"task_list_id\": \"xxxx\",\n       \"speaker_map\": [\n         {\n            \"speakerId\": \"...\",\n            \"name\": \"...\"\n         },\n         {\n            \"speakerId\": \"...\",\n            \"name\": \"...\"\n         }\n       ]\n    },\n    {\n      ...\n     }\n  ]\n}\n\nPAYLOAD\n{{ $('Format call data').item.json.calls.toJsonString() }}"
              }
            ]
          },
          "jsonOutput": true,
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          736,
          496
        ],
        "id": "c0fff236-19c6-458a-8f4c-77e0524e4ded",
        "name": "Format customer object",
        "credentials": {
          "openAiApi": {
            "id": "QI8VhWIOBcvTDoFc",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "485a55a2-6510-436f-9d99-3e74a3b00509",
                "name": "tasks",
                "value": "={{ $json.message.content.tasks }}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          2096,
          784
        ],
        "id": "8be5adf8-fbeb-4f66-96c0-e83936001f19",
        "name": "Format tasks"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "2133f8c2-e3c9-4f56-a4de-9cef6659a256",
                "leftValue": "={{ $json.task_status }}",
                "rightValue": "New",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1328,
          1104
        ],
        "id": "e9f0481b-f2c9-447e-8d72-ce7f3b2de1bb",
        "name": "If New Task"
      },
      {
        "parameters": {
          "fieldToSplitOut": "tasks",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          2288,
          784
        ],
        "id": "456511b8-c3ee-4993-b622-b3fe25ea9076",
        "name": "Split All Tasks"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          -1120,
          784
        ],
        "id": "c4e6690f-cbb3-4f93-bae4-2801777727b1",
        "name": "No Operation, do nothing"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "id": "0aa2f13c-ab59-42ad-afc1-ab2ee336d524",
        "name": "No Operation, do nothing1"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "bd20c71f-7171-4630-846c-0378f5027534",
                "leftValue": "={{ $json.error.description }}",
                "rightValue": "No calls found corresponding to the provided filters",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          -256,
          272
        ],
        "id": "59322790-f459-4daa-b273-106d47c7ffd8",
        "name": "If any calls exist"
      },
      {
        "parameters": {
          "conditions": {
            "number": [
              {
                "value1": "={{ $json.calls.length }}",
                "operation": "larger"
              }
            ]
          }
        },
        "id": "3ff0f14f-a2c7-4a5b-b9b5-1ec32d4dfde9",
        "name": "If My Calls Exist",
        "type": "n8n-nodes-base.if",
        "typeVersion": 1,
        "position": [
          -1104,
          512
        ]
      },
      {
        "parameters": {
          "assignments": {
            "assignments": [
              {
                "id": "1ef89f65-5b02-4921-b028-560430e483e2",
                "name": "calls",
                "value": "={{ $json.calls}}",
                "type": "array"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.set",
        "typeVersion": 3.4,
        "position": [
          32,
          272
        ],
        "id": "36382b47-175e-4d9e-8eff-21ffe212b8df",
        "name": "Get only calls data"
      },
      {
        "parameters": {},
        "type": "n8n-nodes-base.noOp",
        "typeVersion": 1,
        "position": [
          192,
          736
        ],
        "id": "0c4f2efb-4eef-4817-9c8e-f050e835c740",
        "name": "No Operation, do nothing2"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "2519b6c1-e645-4239-950e-9bebd3a72eb4",
                "leftValue": "={{ $json.task_status }}",
                "rightValue": "Complete",
                "operator": {
                  "type": "string",
                  "operation": "notEquals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.filter",
        "typeVersion": 2.2,
        "position": [
          1776,
          1344
        ],
        "id": "0bc963f5-db09-4232-ba9d-26a8177b1390",
        "name": "Filter Out Complete Tasks"
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "INSERT INTO processed_calls (call_id, title)\nVALUES ($1::varchar, $2)\nON CONFLICT (call_id) DO NOTHING\nRETURNING call_id;\n",
          "options": {
            "queryBatching": "independently",
            "queryReplacement": "={{ $('Split Out Customer + Call Data').item.json.id }}, {{ $('Split Out Customer + Call Data').item.json.title }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          2288,
          608
        ],
        "id": "63ff73a5-5dd0-4bf7-9295-77d688564a2e",
        "name": "Insert call ID into table",
        "alwaysOutputData": false,
        "executeOnce": false,
        "credentials": {
          "postgres": {
            "id": "vElmDTqQbsyvrJQb",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "modelId": {
            "__rl": true,
            "mode": "list",
            "value": ""
          },
          "messages": {
            "values": [
              {}
            ]
          },
          "options": {}
        },
        "type": "@n8n/n8n-nodes-langchain.openAi",
        "typeVersion": 1.8,
        "position": [
          3024,
          1264
        ],
        "id": "73cdf1ce-da2c-459b-9b5c-16ece09e73e1",
        "name": "Plan next steps for task",
        "credentials": {
          "openAiApi": {
            "id": "QI8VhWIOBcvTDoFc",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "e31bca9c-1ca5-49e9-8638-2bf96103b79e",
                "leftValue": "={{ $json.assignee }}",
                "rightValue": "Michael McCall",
                "operator": {
                  "type": "string",
                  "operation": "equals",
                  "name": "filter.operator.equals"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          1680,
          1088
        ],
        "id": "ce6ee074-092c-4d15-91bb-14765e595f4d",
        "name": "If assigned to me"
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.clickup.com/api/v2/list/{{ $json.task_list_id }}/task",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "clickUpApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"name\": \"{{ $json.task_title }}\",\n  \"description\": {{ JSON.stringify($json.description) }},\n  \"assignees\": [57194708],\n  \"custom_fields\": [\n    {\n        \"value\": \"{{ $json.task_category_index }}\",\n        \"id\": \"d528c55b-b687-4a89-aec2-ffad5fb920bb\"\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2016,
          1024
        ],
        "id": "63a25549-b870-46f5-821a-bfd8d47cdd55",
        "name": "Create my new tasks",
        "credentials": {
          "clickUpApi": {
            "id": "s59KCIKlvpfmEhtW",
            "name": "ClickUp account"
          }
        }
      },
      {
        "parameters": {
          "method": "POST",
          "url": "=https://api.clickup.com/api/v2/list/{{ $json.task_list_id }}/task",
          "authentication": "predefinedCredentialType",
          "nodeCredentialType": "clickUpApi",
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={\n  \"name\": \"{{ $json.task_title }}\",\n  \"description\": {{ JSON.stringify($json.description) }},\n  \"custom_fields\": [\n    {\n        \"value\": \"{{ $json.task_category_index }}\",\n        \"id\": \"d528c55b-b687-4a89-aec2-ffad5fb920bb\"\n    }\n  ]\n}",
          "options": {}
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          2016,
          1184
        ],
        "id": "53ec337d-0588-4efc-8fae-8a05f78012ba",
        "name": "Create others new tasks",
        "credentials": {
          "clickUpApi": {
            "id": "s59KCIKlvpfmEhtW",
            "name": "ClickUp account"
          }
        }
      },
      {
        "parameters": {
          "operation": "executeQuery",
          "query": "SELECT EXISTS (\n  SELECT 1\n  FROM processed_calls\n  WHERE call_id = $1::varchar\n) AS value_exists;",
          "options": {
            "queryBatching": "independently",
            "queryReplacement": "={{ String($json[\"metaData\"].id) }}, {{ $json[\"metaData\"].title }}"
          }
        },
        "type": "n8n-nodes-base.postgres",
        "typeVersion": 2.6,
        "position": [
          -256,
          512
        ],
        "id": "9cebc1c5-dca8-4f3a-9085-90e01f7b3802",
        "name": "Check for Call ID",
        "alwaysOutputData": false,
        "executeOnce": false,
        "credentials": {
          "postgres": {
            "id": "vElmDTqQbsyvrJQb",
            "name": "Postgres account"
          }
        },
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "caseSensitive": true,
              "leftValue": "",
              "typeValidation": "strict",
              "version": 2
            },
            "conditions": [
              {
                "id": "f87153ac-362e-43ab-9e29-4ec818d6e139",
                "leftValue": "={{ $json.value_exists }}",
                "rightValue": "",
                "operator": {
                  "type": "boolean",
                  "operation": "false",
                  "singleValue": true
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.2,
        "position": [
          32,
          512
        ],
        "id": "3647bdcf-3d7a-4d93-b1ee-778cc3017f34",
        "name": "If any calls aren't already listed"
      },
      {
        "parameters": {
          "fieldToSplitOut": "calls",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -896,
          512
        ],
        "id": "ec602c76-f11a-45bc-852d-51c5881c87ff",
        "name": "Split Out Initial Call Data"
      },
      {
        "parameters": {
          "fieldToSplitOut": "calls",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          -464,
          512
        ],
        "id": "779fddd9-99aa-4093-9538-4d42db37eacd",
        "name": "Split Out Formatted Call Data"
      },
      {
        "parameters": {
          "fieldToSplitOut": "message.content.calls",
          "options": {}
        },
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          1072,
          496
        ],
        "id": "8bc596b7-bad9-4ef7-8cd2-e92dcb65f13a",
        "name": "Split Out Customer + Call Data"
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "leftValue": "={{ $('Split All Tasks').item.json.task_category_index }}",
                      "rightValue": "2",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      },
                      "id": "8b7d1588-f7b7-4189-a569-609a2464c098"
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Follow Up with Information"
              },
              {
                "conditions": {
                  "options": {
                    "caseSensitive": true,
                    "leftValue": "",
                    "typeValidation": "strict",
                    "version": 2
                  },
                  "conditions": [
                    {
                      "id": "d70d9db5-1a86-4e6c-a730-0ddf07134ab6",
                      "leftValue": "={{ $('Split All Tasks').item.json.task_category_index }}",
                      "rightValue": "3",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "Tool Configuration Update"
              }
            ]
          },
          "options": {}
        },
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.2,
        "position": [
          2416,
          1104
        ],
        "id": "12d591c8-ab29-4795-9e23-163346bb8f28",
        "name": "Task Categories"
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "gMSXiOW3JFPtxYvF",
            "mode": "list",
            "cachedResultName": "Follow Up with Information Agent"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {},
            "matchingColumns": [],
            "schema": [],
            "attemptToConvertTypes": false,
            "convertFieldsToString": true
          },
          "options": {}
        },
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.2,
        "position": [
          2624,
          1008
        ],
        "id": "1ebacfc0-4199-4f82-afb3-36e640813534",
        "name": "Execute Workflow"
      },
      {
        "parameters": {
          "jsCode": "// =============================================================================\n// Gong → ClickUp : one Code node that does everything\n// Place this BETWEEN the LLM node and the ClickUp HTTP Request node.\n//\n// It accepts the LLM output (an array of task objects, an object with `.tasks`,\n// or a JSON string — even one wrapped in ```json fences), then for each task:\n//   1. validates it against the BigPanda task standard\n//   2. ASSEMBLES the flat fields into a single markdown `description`\n//      (real newlines live here, safely in code — never in the model's JSON)\n//   3. builds a ready-to-send ClickUp `payload` object\n//\n// Then in the ClickUp HTTP Request node set:\n//   Body Content Type = JSON\n//   Specify Body = Using JSON\n//   JSON =  {{ $json.payload }}\n// Passing an OBJECT (not hand-typed JSON text) lets n8n escape everything, so\n// \"bad control character\" / \"not valid JSON\" errors cannot happen.\n//\n// Wire an IF node on `_valid`: true -> ClickUp; false -> review branch.\n// =============================================================================\n\n// ---- config -----------------------------------------------------------------\nconst TASK_CATEGORY_FIELD_ID = \"d528c55b-b687-4a89-aec2-ffad5fb920bb\";\nconst PRIORITY_MAP = { urgent: 1, high: 2, normal: 3, low: 4 }; // ClickUp priority codes\nconst VOCAB = new Set([\n  \"gong-generated\", \"customer-commitment\", \"waiting-on-customer\", \"internal-blocker\",\n  \"product-feedback\", \"renewal\", \"expansion\", \"needs-scheduling\", \"needs-detail\",\n]);\n// Optional: resolve assignee names -> ClickUp user IDs. Add teammates as needed.\n// Leave a name out and the task simply won't get an assignee set (it'll rely on\n// task-prioritizer to assign later).\nconst ASSIGNEE_IDS = {\n  \"Michael McCall\": 57194708,\n};\n\nconst STATUSES = new Set([\"New\", \"In Progress\", \"On Hold\", \"Complete\"]);\nconst isDate = v => typeof v === \"string\" && /^\\d{4}-\\d{2}-\\d{2}$/.test(v);\nconst isWeekend = v => { const d = new Date(v + \"T00:00:00Z\").getUTCDay(); return d === 0 || d === 6; };\n\n// ---- accept whatever shape the LLM node hands us ----------------------------\nfunction coerceTasks(input) {\n  let data = input;\n  if (typeof data === \"string\") {\n    data = JSON.parse(data.replace(/^```(?:json)?\\s*|\\s*```$/g, \"\").trim());\n  }\n  if (Array.isArray(data)) return data;\n  if (data && Array.isArray(data.tasks)) return data.tasks;\n  return [data];\n}\n\n// ---- assemble the single markdown description -------------------------------\nfunction buildDescription(t) {\n  const lines = [];\n  lines.push(\"## The ask\", t.the_ask || \"\");\n  lines.push(\"## Definition of done\", t.definition_of_done || \"\");\n  lines.push(\"## Stakeholders\");\n  const sh = Array.isArray(t.stakeholders) ? t.stakeholders : [];\n  if (sh.length) sh.forEach(s => lines.push(`- ${s}`)); else lines.push(\"- None identified\");\n  lines.push(\"## Forcing function\", t.forcing_function || \"None stated\");\n  lines.push(\"## Context\", t.context || \"\");\n  let source = `- Gong: ${t.call_title || \"(untitled call)\"}`;\n  if (t.source_call_url) source += ` (${t.source_call_url})`;\n  if (t.source_call_date) source += ` — ${t.source_call_date}`;\n  if (t.timestamp) source += ` @ ${t.timestamp}`;\n  lines.push(\"## Source\", source);\n  lines.push(\"## Assignee: \", t.assignee);\n  return lines.join(\"\\n\");\n}\n\n// ---- validate against the standard ------------------------------------------\nfunction validate(t) {\n  const e = [];\n  if (!STATUSES.has(t.task_status)) e.push(`bad task_status: ${t.task_status}`);\n  if (!t.task_list_id) e.push(\"missing task_list_id\");\n  const idx = Number(t.task_category_index);\n  if (!Number.isInteger(idx) || idx < 0 || idx > 5) e.push(\"task_category_index must be 0-5\");\n\n  if (!t.the_ask) e.push(\"missing the_ask\");\n  if (!t.definition_of_done) e.push(\"missing definition_of_done\");\n  if (t.stakeholders !== undefined && !Array.isArray(t.stakeholders)) e.push(\"stakeholders must be an array\");\n\n  const tags = Array.isArray(t.tags) ? t.tags : [];\n  if (!tags.includes(\"gong-generated\")) e.push(\"tags must include gong-generated\");\n  for (const tag of tags) if (!VOCAB.has(tag)) e.push(`tag not in vocabulary: ${tag}`);\n\n  const noOwner = t.assignee === null || t.assignee === \"\" || t.assignee === undefined;\n  if (noOwner && !tags.includes(\"needs-detail\")) e.push(\"null assignee requires needs-detail tag\");\n\n  if (t.due_date !== null && t.due_date !== undefined) {\n    if (!isDate(t.due_date)) e.push(\"due_date must be YYYY-MM-DD or null\");\n    else if (isWeekend(t.due_date)) e.push(\"due_date falls on a weekend\");\n  }\n  if (t.priority !== null && t.priority !== undefined) {\n    if (!PRIORITY_MAP[t.priority]) e.push(`bad priority: ${t.priority}`);\n    if (!t.due_date) e.push(\"priority set without a due_date\");\n  }\n  if (t.level_of_effort != null && ![\"Small\", \"Medium\", \"Large\"].includes(t.level_of_effort))\n    e.push(`bad level_of_effort: ${t.level_of_effort}`);\n\n  if (t.task_status === \"In Progress\" && !t.clickup_id) e.push(\"In Progress task missing clickup_id\");\n  return e;\n}\n\n// ---- build the ClickUp request payload --------------------------------------\nfunction buildPayload(t, description) {\n  const tags = Array.isArray(t.tags) ? t.tags : [];\n  const payload = {\n    name: t.task_title,\n    markdown_content: description,   // swap to `description` if you prefer plain text\n    tags,\n    custom_fields: [{ id: TASK_CATEGORY_FIELD_ID, value: Number(t.task_category_index) }],\n  };\n  const id = t.assignee && ASSIGNEE_IDS[t.assignee];\n  if (id) payload.assignees = [id];                              // numeric user IDs only\n  if (t.due_date) payload.due_date = Date.parse(t.due_date + \"T17:00:00Z\"); // epoch ms\n  if (t.due_date && t.priority && PRIORITY_MAP[t.priority]) payload.priority = PRIORITY_MAP[t.priority];\n  return payload;\n}\n\n// ---- main -------------------------------------------------------------------\nconst out = [];\nfor (const item of $input.all()) {\n  // The LLM output can sit in different places depending on the node; try the common ones.\n  const src = item.json.output ?? item.json.text ?? item.json.message?.content ?? item.json;\n  let tasks;\n  try {\n    tasks = coerceTasks(src);\n  } catch (err) {\n    out.push({ json: { _valid: false, _errors: [\"could not parse LLM output: \" + err.message], _raw: src } });\n    continue;\n  }\n  for (const t of tasks) {\n    const errors = validate(t);\n    const description = buildDescription(t);\n    const payload = buildPayload(t, description);\n    out.push({ json: { ...t, description, payload, _valid: errors.length === 0, _errors: errors } });\n  }\n}\nreturn out;"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1088,
          1104
        ],
        "id": "f1cdf5bd-c686-48d4-bdc9-01603f2f03e4",
        "name": "Build Description"
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Set get calls timestamp",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get user": {
        "main": [
          [
            {
              "node": "Get All Recent Calls",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Set get calls timestamp": {
        "main": [
          [
            {
              "node": "Get user",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get All Recent Calls": {
        "main": [
          [
            {
              "node": "If any calls exist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Lookup ClickUp Lists": {
        "main": [
          [
            {
              "node": "Format customer object",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get call transcript": {
        "main": [
          [
            {
              "node": "Analyze Tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get List Tasks": {
        "main": [
          [
            {
              "node": "Get call transcript",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Analyze Tasks": {
        "main": [
          [
            {
              "node": "Format tasks",
              "type": "main",
              "index": 0
            },
            {
              "node": "Insert call ID into table",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Task Status": {
        "main": [
          [
            {
              "node": "Add task comments",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter out other calls": {
        "main": [
          [
            {
              "node": "If My Calls Exist",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format call data": {
        "main": [
          [
            {
              "node": "Split Out Formatted Call Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format customer object": {
        "main": [
          [
            {
              "node": "Split Out Customer + Call Data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format tasks": {
        "main": [
          [
            {
              "node": "Split All Tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If New Task": {
        "main": [
          [
            {
              "node": "If assigned to me",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Filter Out Complete Tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split All Tasks": {
        "main": [
          [
            {
              "node": "Build Description",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If any calls exist": {
        "main": [
          [
            {
              "node": "Get only calls data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing1",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If My Calls Exist": {
        "main": [
          [
            {
              "node": "Split Out Initial Call Data",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get only calls data": {
        "main": [
          [
            {
              "node": "Filter out other calls",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Filter Out Complete Tasks": {
        "main": [
          [
            {
              "node": "Update Task Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Insert call ID into table": {
        "main": [
          [],
          []
        ]
      },
      "Add new task comment": {
        "main": [
          [
            {
              "node": "Task Categories",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Add task comments": {
        "main": [
          []
        ]
      },
      "If assigned to me": {
        "main": [
          [
            {
              "node": "Create my new tasks",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Create others new tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create my new tasks": {
        "main": [
          [
            {
              "node": "Add new task comment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create others new tasks": {
        "main": [
          [
            {
              "node": "Add new task comment",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check for Call ID": {
        "main": [
          [
            {
              "node": "If any calls aren't already listed",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "If any calls aren't already listed": {
        "main": [
          [
            {
              "node": "Lookup ClickUp Lists",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "No Operation, do nothing2",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out Initial Call Data": {
        "main": [
          [
            {
              "node": "Format call data",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out Formatted Call Data": {
        "main": [
          [
            {
              "node": "Check for Call ID",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Out Customer + Call Data": {
        "main": [
          [
            {
              "node": "Get List Tasks",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Task Categories": {
        "main": [
          [
            {
              "node": "Execute Workflow",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Build Description": {
        "main": [
          [
            {
              "node": "If New Task",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "nodeGroups": [],
    "authors": "Michael McCall",
    "name": "Version 81e3771a",
    "description": "",
    "autosaved": true
  },
  "activeVersionId": "81e3771a-ee00-43de-b46c-487c30da12b3",
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set get calls timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get user": {
      "main": [
        [
          {
            "node": "Get All Recent Calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set get calls timestamp": {
      "main": [
        [
          {
            "node": "Get user",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get All Recent Calls": {
      "main": [
        [
          {
            "node": "If any calls exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Lookup ClickUp Lists": {
      "main": [
        [
          {
            "node": "Format customer object",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get call transcript": {
      "main": [
        [
          {
            "node": "Analyze Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get List Tasks": {
      "main": [
        [
          {
            "node": "Get call transcript",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Analyze Tasks": {
      "main": [
        [
          {
            "node": "Format tasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Insert call ID into table",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Task Status": {
      "main": [
        [
          {
            "node": "Add task comments",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter out other calls": {
      "main": [
        [
          {
            "node": "If My Calls Exist",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format call data": {
      "main": [
        [
          {
            "node": "Split Out Formatted Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format customer object": {
      "main": [
        [
          {
            "node": "Split Out Customer + Call Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format tasks": {
      "main": [
        [
          {
            "node": "Split All Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If New Task": {
      "main": [
        [
          {
            "node": "If assigned to me",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Filter Out Complete Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split All Tasks": {
      "main": [
        [
          {
            "node": "Build Description",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If any calls exist": {
      "main": [
        [
          {
            "node": "Get only calls data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If My Calls Exist": {
      "main": [
        [
          {
            "node": "Split Out Initial Call Data",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get only calls data": {
      "main": [
        [
          {
            "node": "Filter out other calls",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter Out Complete Tasks": {
      "main": [
        [
          {
            "node": "Update Task Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Insert call ID into table": {
      "main": [
        [],
        []
      ]
    },
    "Add new task comment": {
      "main": [
        [
          {
            "node": "Task Categories",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add task comments": {
      "main": [
        []
      ]
    },
    "If assigned to me": {
      "main": [
        [
          {
            "node": "Create my new tasks",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Create others new tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create my new tasks": {
      "main": [
        [
          {
            "node": "Add new task comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create others new tasks": {
      "main": [
        [
          {
            "node": "Add new task comment",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Call ID": {
      "main": [
        [
          {
            "node": "If any calls aren't already listed",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If any calls aren't already listed": {
      "main": [
        [
          {
            "node": "Lookup ClickUp Lists",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "No Operation, do nothing2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Initial Call Data": {
      "main": [
        [
          {
            "node": "Format call data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Formatted Call Data": {
      "main": [
        [
          {
            "node": "Check for Call ID",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out Customer + Call Data": {
      "main": [
        [
          {
            "node": "Get List Tasks",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Task Categories": {
      "main": [
        [
          {
            "node": "Execute Workflow",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Description": {
      "main": [
        [
          {
            "node": "If New Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-02T20:27:49.977Z",
  "id": "EZxTSJLatS4LxK07",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "Task Management Agent",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 9-17 * * 1-5"
            }
          ]
        }
      },
      "id": "358a01ef-c4ba-4c53-ae74-e2034327c5d5",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [
        -1104,
        272
      ]
    },
    {
      "parameters": {
        "resource": "user",
        "user": {
          "__rl": true,
          "value": "1129716018455402806",
          "mode": "list",
          "cachedResultName": "Michael McCall (mmccall@bigpanda.io)"
        },
        "requestOptions": {}
      },
      "type": "n8n-nodes-base.gong",
      "typeVersion": 1,
      "position": [
        -688,
        272
      ],
      "id": "4b87cb8d-f3a4-4c3e-889b-b4df05795462",
      "name": "Get user",
      "credentials": {
        "gongApi": {
          "id": "217eZdugKIyLqdFd",
          "name": "Gong account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse and subtract 30 minutes\nconst minus30 = DateTime.fromISO($input.first().json.timestamp).minus({ minutes: 30 }).toISO();\n\n// Parse and subtract 300 minutes for testing\nconst minus7200 = DateTime.fromISO($input.first().json.timestamp).minus({ minutes: 7200 }).toISO();\n\n// Attach back onto the JSON\n$input.first().json.timestampMinus30 = minus30;\n$input.first().json.timestampMinus7200 = minus7200;\nreturn $input.first();"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -896,
        272
      ],
      "id": "56dae445-600e-4b2a-b2c7-499d5be0b7cf",
      "name": "Set get calls timestamp"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.gong.io/v2/calls/extensive",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gongApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"cursor\": \"\",\n  \"filter\": {\n    \"fromDateTime\": \"{{ $('Set get calls timestamp').item.json.timestampMinus7200 }}\",\n    \"workspaceId\": \"6362182950817891979\"\n  },\n  \"contentSelector\": {\n    \"context\": \"None\",\n    \"exposedFields\": {\n      \"parties\": true,\n      \"content\": {\n        \"structure\": false,\n        \"topics\": false,\n        \"trackers\": false,\n        \"trackerOccurrences\": false,\n        \"pointsOfInterest\": false,\n        \"brief\": false,\n        \"outline\": false,\n        \"highlights\": false,\n        \"callOutcome\": false,\n        \"keyPoints\": false\n      }\n    }\n  }\n}",
        "options": {
          "pagination": {
            "pagination": {
              "parameters": {
                "parameters": [
                  {
                    "type": "body",
                    "name": "cursor",
                    "value": "={{ $response.body.records.cursor }}"
                  }
                ]
              },
              "paginationCompleteWhen": "other",
              "completeExpression": "={{ $response.body.records.cursor.isEmpty() }}",
              "requestInterval": 10
            }
          }
        }
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -464,
        272
      ],
      "id": "779a1e26-cf8b-4470-8064-0785802d3555",
      "name": "Get All Recent Calls",
      "alwaysOutputData": true,
      "retryOnFail": true,
      "credentials": {
        "gongApi": {
          "id": "217eZdugKIyLqdFd",
          "name": "Gong account"
        }
      }
    },
    {
      "parameters": {
        "url": "https://api.clickup.com/api/v2/space/90170841945/list?archived=false",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        496
      ],
      "id": "6bfeed64-334f-4549-8b67-448cb13a46bd",
      "name": "Lookup ClickUp Lists",
      "credentials": {
        "clickUpApi": {
          "id": "s59KCIKlvpfmEhtW",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "url": "=https://api.clickup.com/api/v2/list/{{ $json.task_list_id }}/task",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpApi",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1328,
        784
      ],
      "id": "cf2d6dd5-1c93-451e-a1b8-cb35ebb5b717",
      "name": "Get List Tasks",
      "credentials": {
        "clickUpApi": {
          "id": "s59KCIKlvpfmEhtW",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.gong.io/v2/calls/transcript",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gongApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"filter\": {\n    \"callIds\": [\"{{ $('Split Out Customer + Call Data').item.json.id }}\"]\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1520,
        784
      ],
      "id": "3602fbbd-4aa2-4c2c-a4f3-2b35f8290fb2",
      "name": "Get call transcript",
      "credentials": {
        "gongApi": {
          "id": "217eZdugKIyLqdFd",
          "name": "Gong account"
        }
      }
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-5.2",
          "mode": "list",
          "cachedResultName": "GPT-5.2"
        },
        "messages": {
          "values": [
            {
              "content": "=Please scan the entire json CALL TRANSCRIPT, not just the preview or snippet. Your job is to extract action items and emit them as tasks that conform to the BigPanda Account Task standard (see TASK STANDARD below). Follow this chain of actions:\n\n1. Determine any action items that were discussed on the call and capture the ACTION ITEM DETAILS for each.\n2. Compare the action items found on the CALL TRANSCRIPT to the EXISTING TASKS provided to determine the \"task_status\" (New / In Progress / On Hold / Complete).\n3. Use the CALL DATA to add the corresponding call title, call date, and Gong call URL to each task (this is the task's Source).\n4. Determine the task OWNER and set \"assignee\" per the ASSIGNEE RULE below. Use the \"speaker_map\" to resolve speakerIds to names.\n5. Populate the DESCRIPTION FIELDS below — discrete, single-line strings. Do NOT output a \"description\" string; a downstream Code node assembles these fields into the final markdown description.\n6. Add Task Category based on TASK CATEGORIES. If it doesn't match one in TASK CATEGORIES, infer one and append it to the end of \"Other - \".\n7. Set \"due_date\" and \"priority\" per the SCHEDULING RULE below (most tasks will leave both null).\n8. Set \"level_of_effort\" and \"tags\" per the standard.\n9. Format the output exactly like the OUTPUT JSON section. You MUST respond with NOTHING except the JSON.\n\n=== TASK STANDARD ===\n\nASSIGNEE RULE\n- \"assignee\" is the person on the BigPanda side who OWNS the action item — the one responsible for completing it. This is often Michael McCall, but NOT always. If another BigPanda team member clearly owns it, use their name.\n- The owner is not necessarily the speaker. Determine who is actually responsible for the action.\n- People who are merely mentioned, looped in, or who need to be coordinated with — and ALL customer/external people — are NOT the assignee. List them in the \"## Stakeholders\" section of the description instead.\n- If no clear internal owner can be determined, set \"assignee\" to null and add \"needs-detail\" to \"tags\".\n- Never write the assignee into the description text; it belongs only in the \"assignee\" field.\n\nSCHEDULING RULE\n- \"due_date\": set ONLY if a clear date or deadline was committed on the call (e.g. \"by Thursday\", \"before the EBR on the 14th\"). Compute the actual calendar date (format YYYY-MM-DD) using the call date as the reference point. Never put a due date on a Saturday or Sunday. If no date was stated, set \"due_date\" to null — the prioritizer will set it.\n- \"priority\": set ONLY when \"due_date\" is also set. Choose one of \"urgent\" / \"high\" / \"normal\" / \"low\" based on the urgency implied on the call. If \"due_date\" is null, set \"priority\" to null.\n- Whether or not a date was stated, capture the timing phrase in the \"## Forcing function\" section of the description (\"None stated\" if absent).\n\nDESCRIPTION FIELDS (each is a plain, SINGLE-LINE string — no line breaks. For any verbatim phrase, use single quotes 'like this', NEVER double quotes. The downstream Code node assembles these into the markdown description, so do not include markdown headers yourself.)\n- \"the_ask\": 1-2 sentences — the explicit request or commitment. Paraphrase; if you must quote, use single quotes.\n- \"definition_of_done\": the concrete deliverable or answer that means this is finished, and who receives it.\n- \"stakeholders\": an ARRAY of single-line strings, each \"Name — role — internal | customer\". Use [] if none.\n- \"forcing_function\": any date/event the ask is tied to, or \"None stated\".\n- \"context\": background needed to act: why it matters, relevant history from the call.\n(The ## Source section is built automatically from call_title, source_call_url, source_call_date, and timestamp — you do not write it.)\n\nLEVEL OF EFFORT\n- \"level_of_effort\": \"Small\" (<=30m) / \"Medium\" (1-2h) / \"Large\" (half-day+) if reasonably inferable, else null.\n\nTAGS (controlled vocabulary — only use these)\n- Always include \"gong-generated\".\n- Add any that apply: \"customer-commitment\" (we promised the customer this on the call), \"waiting-on-customer\", \"internal-blocker\", \"product-feedback\", \"renewal\", \"expansion\", \"needs-scheduling\".\n- Add \"needs-detail\" if the owner is unknown OR a clear definition of done could not be determined.\n\nSOURCE CALL\n- \"source_call_url\": the Gong call link from CALL DATA (use the call's url field, or construct https://us-1155.app.gong.io/call?id={callId}).\n- \"source_call_date\": the call date (YYYY-MM-DD) from CALL DATA.\n\n=== ACTION ITEM DETAILS (capture per item) ===\n1. Call title, call date, and Gong call URL (the Source)\n2. Task status (infer \"New\" / \"In Progress\" / \"On Hold\" / \"Complete\" — check EXISTING TASKS to see if one already exists)\n3. Owner / assignee (per the ASSIGNEE RULE — name, or null)\n4. Call timestamp reference — the hour and minute when it was discussed\n5. Task list ID (the corresponding customer's task_list_id)\n6. Task category + task category index (0-5, per TASK CATEGORIES)\n7. Due date and priority (per the SCHEDULING RULE — usually null)\n8. Level of effort and tags\n\nIF the task is \"New\", also include:\n9. Task title (concise, action-first, include the account in parentheses if the title alone is ambiguous)\n10. Description fields (the_ask, definition_of_done, stakeholders, forcing_function, context)\n\nIF the task is \"In Progress\", also include:\n9. Task title (use the existing one from the task in ClickUp)\n10. Description fields (the_ask, definition_of_done, stakeholders, forcing_function, context — merge the existing task's content with any updates from this call)\n11. Task comment (a short summary of the relevant details discussed on this call as it pertains to this task — added as a comment to keep a running log)\n12. Existing ClickUp task ID (pull this from the task object; do NOT leave it blank. If there isn't one, convert it to a \"New\" task instead)\n\nCALL TRANSCRIPT\n{{ $json.callTranscripts[0].transcript.toJsonString() }}\n\nCALL DATA\n{{ $('Format customer object').item.json.message.content.calls.toJsonString() }}\n\nEXISTING TASKS\n{{ $('Get List Tasks').item.json.tasks.toJsonString() }}\n\nTASK CATEGORIES\n[0] \"Scheduling\" - need to schedule a call or meeting\n[1] \"Support Update\" - Look for an update from the support team on an outstanding bug, feature request, \"RFE\", or suggestion\n[2] \"Follow Up with Information\" - need to check with someone not on the call and relay information back to someone on the call\n[3] \"Tool Configuration Update\" - Make updates to BigPanda or other tools to improve their configuration or functionality. This includes creating and updating analytics dashboards inside BigPanda.\n[4] \"Document/Deliverable\" - Preparation, completion, or an update to a document, slide deck, value assessment, ILA, etc\n[5] \"Other - xxx\"\n\nOUTPUT JSON\n{\n  \"tasks\": [\n    {\n      \"call_title\": \"...\",\n      \"task_title\": \"...\",\n      \"the_ask\": \"...\",\n      \"definition_of_done\": \"...\",\n      \"stakeholders\": [\"Name — role — internal | customer\"],\n      \"forcing_function\": \"None stated\",\n      \"context\": \"...\",\n      \"timestamp\": \"hh:mm\",\n      \"assignee\": \"Full Name or null\",\n      \"task_status\": \"New\",\n      \"task_list_id\": \"xxxx\",\n      \"task_category\": \"xxxx\",\n      \"task_category_index\": \"x\",\n      \"due_date\": null,\n      \"priority\": null,\n      \"level_of_effort\": \"Small | Medium | Large | null\",\n      \"source_call_url\": \"https://us-1155.app.gong.io/call?id=...\",\n      \"source_call_date\": \"YYYY-MM-DD\",\n      \"tags\": [\"gong-generated\"]\n    },\n    {\n      \"call_title\": \"...\",\n      \"task_title\": \"...\",\n      \"the_ask\": \"...\",\n      \"definition_of_done\": \"...\",\n      \"stakeholders\": [\"Name — role — internal | customer\"],\n      \"forcing_function\": \"None stated\",\n      \"context\": \"...\",\n      \"task_comment\": \"...\",\n      \"timestamp\": \"hh:mm\",\n      \"assignee\": \"Full Name or null\",\n      \"task_status\": \"In Progress\",\n      \"clickup_id\": \"...\",\n      \"task_list_id\": \"xxxx\",\n      \"task_category\": \"xxxx\",\n      \"task_category_index\": \"x\",\n      \"due_date\": null,\n      \"priority\": null,\n      \"level_of_effort\": \"Small | Medium | Large | null\",\n      \"source_call_url\": \"https://us-1155.app.gong.io/call?id=...\",\n      \"source_call_date\": \"YYYY-MM-DD\",\n      \"tags\": [\"gong-generated\"]\n    }\n  ]\n}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        1712,
        784
      ],
      "id": "e6387f7b-cf1b-45da-b30b-5c12b3617a0e",
      "name": "Analyze Tasks",
      "credentials": {
        "openAiApi": {
          "id": "QI8VhWIOBcvTDoFc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.id }}/comment",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment_text",
              "value": "=AI AGENT UPDATE: {{ $('If New Task').item.json.task_comment }}\n\nCall Title: {{ $('If New Task').item.json.call_title }}\n\nCall Timestamp: {{ $('If New Task').item.json.timestamp }}\n\nTask Category: {{ $('If New Task').item.json.task_category }}"
            },
            {
              "name": "notify_all",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        1344
      ],
      "id": "7384c710-3f85-45b6-99a0-f01051b2353f",
      "name": "Add task comments",
      "credentials": {
        "clickUpApi": {
          "id": "s59KCIKlvpfmEhtW",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "method": "PUT",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.clickup_id }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "={{ $json.task_status }}"
            },
            {
              "name": "custom_fields",
              "value": "=[\n  {\n    \"value\": \"{{ $json.task_category_index }}\",\n    \"id\": \"d528c55b-b687-4a89-aec2-ffad5fb920bb\"\n  }\n]"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        1344
      ],
      "id": "7082d0a0-7c54-4ff3-81ed-9247ce0b457c",
      "name": "Update Task Status",
      "credentials": {
        "clickUpApi": {
          "id": "s59KCIKlvpfmEhtW",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/task/{{ $json.id }}/comment",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpApi",
        "sendBody": true,
        "bodyParameters": {
          "parameters": [
            {
              "name": "comment_text",
              "value": "=AI AGENT UPDATE: Added new task\n\nCall Title: {{ $('If New Task').item.json.call_title }}\n\nCall Timestamp: {{ $('If New Task').item.json.timestamp }}\n\nTask Category: {{ $('If New Task').item.json.task_category }}"
            },
            {
              "name": "notify_all",
              "value": "false"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2208,
        1104
      ],
      "id": "9345e1f5-14f3-4212-b37a-104c7d8a3541",
      "name": "Add new task comment",
      "credentials": {
        "clickUpApi": {
          "id": "s59KCIKlvpfmEhtW",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "const myEmail = \"mmccall@bigpanda.io\";\nconst internalDomain = \"@bigpanda.io\";\n\nconst calls = $input.all();\nconst allCalls = calls[0].json;\n\n// Merge any additional returned call batches into one call list.\nfor (let c = 1; c < calls.length; c++) {\n  allCalls.calls = [...allCalls.calls, ...calls[c].json.calls];\n}\n\n// Loop backward so removing calls with splice does not skip any items.\nfor (let i = allCalls.calls.length - 1; i >= 0; i--) {\n  const call = allCalls.calls[i];\n\n  // Default to an empty participant list if the call has no parties field.\n  const parties = call.parties || [];\n\n  // Normalize participant emails and remove parties that do not have an email address.\n  const partyEmails = parties\n    .map(party => party.emailAddress?.toLowerCase())\n    .filter(Boolean);\n\n  // Default to an empty title if metadata or title is missing.\n  const title = call.metaData?.title || \"\";\n\n  // Identify which calls have my email as one of the participants.\n  const hasMyEmail = partyEmails.includes(myEmail.toLowerCase());\n\n  // Identify internal-only calls where every participant has a BigPanda email.\n  // These are filtered out because there are no external/customer attendees.\n  const isInternalOnlyCall =\n    partyEmails.length > 0 &&\n    partyEmails.every(email => email.endsWith(internalDomain));\n\n  if( hasMyEmail) {\n  console.log(title + ' ' + isInternalOnlyCall);\n  }\n\n  // Filter out calls where the RSA is handling task management.\n  const hasRSA = title.includes(\"Labcorp Working Session\");\n\n  // Remove the call if:\n  // - I was not a participant\n  // - It was internal-only\n  // - It matched the RSA / working session exclusion\n  if (!hasMyEmail || isInternalOnlyCall || hasRSA) {\n    allCalls.calls.splice(i, 1);\n  }\n}\n\nreturn allCalls;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        224,
        272
      ],
      "id": "d13aa510-901d-4b71-a040-00d680929d25",
      "name": "Filter out other calls"
    },
    {
      "parameters": {
        "mode": "runOnceForEachItem",
        "jsCode": "const inputArray = $input.item.json;  // your original array\nconst outputArray = [];\n\n\n// slim down metadata\nconst slimMeta = {\n  id:    inputArray.metaData && inputArray.metaData.id,\n  title: inputArray.metaData && inputArray.metaData.title\n};\n\n  // slim down parties\n  const slimParties = [];\n  const parties = Array.isArray(inputArray.parties) ? inputArray.parties : [];\n  for (let k = 0; k < parties.length; k++) {\n    const p = parties[k];\n    slimParties.push({\n      speaker_id:    p.speakerId,\n      speaker_email: p.emailAddress,\n      speaker_name:  p.name\n    });\n  }\n\n  // assemble slimmed call\n  outputArray.push({\n    metaData: slimMeta,\n    parties:  slimParties\n  });\n\n\nlet slimCalls = { \"calls\": outputArray};\nreturn slimCalls;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -688,
        512
      ],
      "id": "41d54046-6ca6-4235-bff9-8bf73728541e",
      "name": "Format call data"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "value": "gpt-4.1",
          "mode": "list",
          "cachedResultName": "GPT-4.1"
        },
        "messages": {
          "values": [
            {
              "content": "=Please scan the entire json payload below under \"PAYLOAD\", not just the preview or snippet, for the parties array of each call object and return the \"CALL DETAILS\". Review the TASK LISTS data to get the corresponding task_list_id based on the customer_name and the list name.\n\nPlease format it in JSON like the \"OUTPUT JSON\" section and respond with NOTHING except the JSON.\n\nNOTE: If task has task_list_id = null, drop it from the calls array\n\nCALL DETAILS\n1. call ID\n2. title \n3. customer_name (infer this from non-bigpanda.io emails and call titles. Note: Upbound and Rent-A-Center are the same customer.)\n4. task_list_id\n5. speaker_map (an array mapping all speakerIds to their names from the \"parties\" array)\n\nTASK LISTS\n{{ $json.lists.toJsonString() }}\n\nOUTPUT JSON\n{\n  \"calls\": [\n    {\n       \"id\": \"xxxx\",\n       \"title\": \"...\",\n       \"customer_name\": \"...\",\n       \"task_list_id\": \"xxxx\",\n       \"speaker_map\": [\n         {\n            \"speakerId\": \"...\",\n            \"name\": \"...\"\n         },\n         {\n            \"speakerId\": \"...\",\n            \"name\": \"...\"\n         }\n       ]\n    },\n    {\n      ...\n     }\n  ]\n}\n\nPAYLOAD\n{{ $('Format call data').item.json.calls.toJsonString() }}"
            }
          ]
        },
        "jsonOutput": true,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        736,
        496
      ],
      "id": "c0fff236-19c6-458a-8f4c-77e0524e4ded",
      "name": "Format customer object",
      "credentials": {
        "openAiApi": {
          "id": "QI8VhWIOBcvTDoFc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "485a55a2-6510-436f-9d99-3e74a3b00509",
              "name": "tasks",
              "value": "={{ $json.message.content.tasks }}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        2096,
        784
      ],
      "id": "8be5adf8-fbeb-4f66-96c0-e83936001f19",
      "name": "Format tasks"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2133f8c2-e3c9-4f56-a4de-9cef6659a256",
              "leftValue": "={{ $json.task_status }}",
              "rightValue": "New",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1328,
        1104
      ],
      "id": "e9f0481b-f2c9-447e-8d72-ce7f3b2de1bb",
      "name": "If New Task"
    },
    {
      "parameters": {
        "fieldToSplitOut": "tasks",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        2288,
        784
      ],
      "id": "456511b8-c3ee-4993-b622-b3fe25ea9076",
      "name": "Split All Tasks"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        -1120,
        784
      ],
      "id": "c4e6690f-cbb3-4f93-bae4-2801777727b1",
      "name": "No Operation, do nothing"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        0,
        0
      ],
      "id": "0aa2f13c-ab59-42ad-afc1-ab2ee336d524",
      "name": "No Operation, do nothing1"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "bd20c71f-7171-4630-846c-0378f5027534",
              "leftValue": "={{ $json.error.description }}",
              "rightValue": "No calls found corresponding to the provided filters",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        -256,
        272
      ],
      "id": "59322790-f459-4daa-b273-106d47c7ffd8",
      "name": "If any calls exist"
    },
    {
      "parameters": {
        "conditions": {
          "number": [
            {
              "value1": "={{ $json.calls.length }}",
              "operation": "larger"
            }
          ]
        }
      },
      "id": "3ff0f14f-a2c7-4a5b-b9b5-1ec32d4dfde9",
      "name": "If My Calls Exist",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        -1104,
        512
      ]
    },
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "1ef89f65-5b02-4921-b028-560430e483e2",
              "name": "calls",
              "value": "={{ $json.calls}}",
              "type": "array"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        32,
        272
      ],
      "id": "36382b47-175e-4d9e-8eff-21ffe212b8df",
      "name": "Get only calls data"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        192,
        736
      ],
      "id": "0c4f2efb-4eef-4817-9c8e-f050e835c740",
      "name": "No Operation, do nothing2"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "2519b6c1-e645-4239-950e-9bebd3a72eb4",
              "leftValue": "={{ $json.task_status }}",
              "rightValue": "Complete",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.filter",
      "typeVersion": 2.2,
      "position": [
        1776,
        1344
      ],
      "id": "0bc963f5-db09-4232-ba9d-26a8177b1390",
      "name": "Filter Out Complete Tasks"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "INSERT INTO processed_calls (call_id, title)\nVALUES ($1::varchar, $2)\nON CONFLICT (call_id) DO NOTHING\nRETURNING call_id;\n",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ $('Split Out Customer + Call Data').item.json.id }}, {{ $('Split Out Customer + Call Data').item.json.title }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        2288,
        608
      ],
      "id": "63ff73a5-5dd0-4bf7-9295-77d688564a2e",
      "name": "Insert call ID into table",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "vElmDTqQbsyvrJQb",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "modelId": {
          "__rl": true,
          "mode": "list",
          "value": ""
        },
        "messages": {
          "values": [
            {}
          ]
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1.8,
      "position": [
        3024,
        1264
      ],
      "id": "73cdf1ce-da2c-459b-9b5c-16ece09e73e1",
      "name": "Plan next steps for task",
      "credentials": {
        "openAiApi": {
          "id": "QI8VhWIOBcvTDoFc",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "e31bca9c-1ca5-49e9-8638-2bf96103b79e",
              "leftValue": "={{ $json.assignee }}",
              "rightValue": "Michael McCall",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        1680,
        1088
      ],
      "id": "ce6ee074-092c-4d15-91bb-14765e595f4d",
      "name": "If assigned to me"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/list/{{ $json.task_list_id }}/task",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.task_title }}\",\n  \"description\": {{ JSON.stringify($json.description) }},\n  \"assignees\": [57194708],\n  \"custom_fields\": [\n    {\n        \"value\": \"{{ $json.task_category_index }}\",\n        \"id\": \"d528c55b-b687-4a89-aec2-ffad5fb920bb\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        1024
      ],
      "id": "63a25549-b870-46f5-821a-bfd8d47cdd55",
      "name": "Create my new tasks",
      "credentials": {
        "clickUpApi": {
          "id": "s59KCIKlvpfmEhtW",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "=https://api.clickup.com/api/v2/list/{{ $json.task_list_id }}/task",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "clickUpApi",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"name\": \"{{ $json.task_title }}\",\n  \"description\": {{ JSON.stringify($json.description) }},\n  \"custom_fields\": [\n    {\n        \"value\": \"{{ $json.task_category_index }}\",\n        \"id\": \"d528c55b-b687-4a89-aec2-ffad5fb920bb\"\n    }\n  ]\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2016,
        1184
      ],
      "id": "53ec337d-0588-4efc-8fae-8a05f78012ba",
      "name": "Create others new tasks",
      "credentials": {
        "clickUpApi": {
          "id": "s59KCIKlvpfmEhtW",
          "name": "ClickUp account"
        }
      }
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT EXISTS (\n  SELECT 1\n  FROM processed_calls\n  WHERE call_id = $1::varchar\n) AS value_exists;",
        "options": {
          "queryBatching": "independently",
          "queryReplacement": "={{ String($json[\"metaData\"].id) }}, {{ $json[\"metaData\"].title }}"
        }
      },
      "type": "n8n-nodes-base.postgres",
      "typeVersion": 2.6,
      "position": [
        -256,
        512
      ],
      "id": "9cebc1c5-dca8-4f3a-9085-90e01f7b3802",
      "name": "Check for Call ID",
      "alwaysOutputData": false,
      "executeOnce": false,
      "credentials": {
        "postgres": {
          "id": "vElmDTqQbsyvrJQb",
          "name": "Postgres account"
        }
      },
      "onError": "continueRegularOutput"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 2
          },
          "conditions": [
            {
              "id": "f87153ac-362e-43ab-9e29-4ec818d6e139",
              "leftValue": "={{ $json.value_exists }}",
              "rightValue": "",
              "operator": {
                "type": "boolean",
                "operation": "false",
                "singleValue": true
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        32,
        512
      ],
      "id": "3647bdcf-3d7a-4d93-b1ee-778cc3017f34",
      "name": "If any calls aren't already listed"
    },
    {
      "parameters": {
        "fieldToSplitOut": "calls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -896,
        512
      ],
      "id": "ec602c76-f11a-45bc-852d-51c5881c87ff",
      "name": "Split Out Initial Call Data"
    },
    {
      "parameters": {
        "fieldToSplitOut": "calls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        -464,
        512
      ],
      "id": "779fddd9-99aa-4093-9538-4d42db37eacd",
      "name": "Split Out Formatted Call Data"
    },
    {
      "parameters": {
        "fieldToSplitOut": "message.content.calls",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        1072,
        496
      ],
      "id": "8bc596b7-bad9-4ef7-8cd2-e92dcb65f13a",
      "name": "Split Out Customer + Call Data"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "leftValue": "={{ $('Split All Tasks').item.json.task_category_index }}",
                    "rightValue": "2",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    },
                    "id": "8b7d1588-f7b7-4189-a569-609a2464c098"
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Follow Up with Information"
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 2
                },
                "conditions": [
                  {
                    "id": "d70d9db5-1a86-4e6c-a730-0ddf07134ab6",
                    "leftValue": "={{ $('Split All Tasks').item.json.task_category_index }}",
                    "rightValue": "3",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "Tool Configuration Update"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.2,
      "position": [
        2416,
        1104
      ],
      "id": "12d591c8-ab29-4795-9e23-163346bb8f28",
      "name": "Task Categories"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "gMSXiOW3JFPtxYvF",
          "mode": "list",
          "cachedResultName": "Follow Up with Information Agent"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        2624,
        1008
      ],
      "id": "1ebacfc0-4199-4f82-afb3-36e640813534",
      "name": "Execute Workflow"
    },
    {
      "parameters": {
        "jsCode": "// =============================================================================\n// Gong → ClickUp : one Code node that does everything\n// Place this BETWEEN the LLM node and the ClickUp HTTP Request node.\n//\n// It accepts the LLM output (an array of task objects, an object with `.tasks`,\n// or a JSON string — even one wrapped in ```json fences), then for each task:\n//   1. validates it against the BigPanda task standard\n//   2. ASSEMBLES the flat fields into a single markdown `description`\n//      (real newlines live here, safely in code — never in the model's JSON)\n//   3. builds a ready-to-send ClickUp `payload` object\n//\n// Then in the ClickUp HTTP Request node set:\n//   Body Content Type = JSON\n//   Specify Body = Using JSON\n//   JSON =  {{ $json.payload }}\n// Passing an OBJECT (not hand-typed JSON text) lets n8n escape everything, so\n// \"bad control character\" / \"not valid JSON\" errors cannot happen.\n//\n// Wire an IF node on `_valid`: true -> ClickUp; false -> review branch.\n// =============================================================================\n\n// ---- config -----------------------------------------------------------------\nconst TASK_CATEGORY_FIELD_ID = \"d528c55b-b687-4a89-aec2-ffad5fb920bb\";\nconst PRIORITY_MAP = { urgent: 1, high: 2, normal: 3, low: 4 }; // ClickUp priority codes\nconst VOCAB = new Set([\n  \"gong-generated\", \"customer-commitment\", \"waiting-on-customer\", \"internal-blocker\",\n  \"product-feedback\", \"renewal\", \"expansion\", \"needs-scheduling\", \"needs-detail\",\n]);\n// Optional: resolve assignee names -> ClickUp user IDs. Add teammates as needed.\n// Leave a name out and the task simply won't get an assignee set (it'll rely on\n// task-prioritizer to assign later).\nconst ASSIGNEE_IDS = {\n  \"Michael McCall\": 57194708,\n};\n\nconst STATUSES = new Set([\"New\", \"In Progress\", \"On Hold\", \"Complete\"]);\nconst isDate = v => typeof v === \"string\" && /^\\d{4}-\\d{2}-\\d{2}$/.test(v);\nconst isWeekend = v => { const d = new Date(v + \"T00:00:00Z\").getUTCDay(); return d === 0 || d === 6; };\n\n// ---- accept whatever shape the LLM node hands us ----------------------------\nfunction coerceTasks(input) {\n  let data = input;\n  if (typeof data === \"string\") {\n    data = JSON.parse(data.replace(/^```(?:json)?\\s*|\\s*```$/g, \"\").trim());\n  }\n  if (Array.isArray(data)) return data;\n  if (data && Array.isArray(data.tasks)) return data.tasks;\n  return [data];\n}\n\n// ---- assemble the single markdown description -------------------------------\nfunction buildDescription(t) {\n  const lines = [];\n  lines.push(\"## The ask\", t.the_ask || \"\");\n  lines.push(\"## Definition of done\", t.definition_of_done || \"\");\n  lines.push(\"## Stakeholders\");\n  const sh = Array.isArray(t.stakeholders) ? t.stakeholders : [];\n  if (sh.length) sh.forEach(s => lines.push(`- ${s}`)); else lines.push(\"- None identified\");\n  lines.push(\"## Forcing function\", t.forcing_function || \"None stated\");\n  lines.push(\"## Context\", t.context || \"\");\n  let source = `- Gong: ${t.call_title || \"(untitled call)\"}`;\n  if (t.source_call_url) source += ` (${t.source_call_url})`;\n  if (t.source_call_date) source += ` — ${t.source_call_date}`;\n  if (t.timestamp) source += ` @ ${t.timestamp}`;\n  lines.push(\"## Source\", source);\n  lines.push(\"## Assignee: \", t.assignee);\n  return lines.join(\"\\n\");\n}\n\n// ---- validate against the standard ------------------------------------------\nfunction validate(t) {\n  const e = [];\n  if (!STATUSES.has(t.task_status)) e.push(`bad task_status: ${t.task_status}`);\n  if (!t.task_list_id) e.push(\"missing task_list_id\");\n  const idx = Number(t.task_category_index);\n  if (!Number.isInteger(idx) || idx < 0 || idx > 5) e.push(\"task_category_index must be 0-5\");\n\n  if (!t.the_ask) e.push(\"missing the_ask\");\n  if (!t.definition_of_done) e.push(\"missing definition_of_done\");\n  if (t.stakeholders !== undefined && !Array.isArray(t.stakeholders)) e.push(\"stakeholders must be an array\");\n\n  const tags = Array.isArray(t.tags) ? t.tags : [];\n  if (!tags.includes(\"gong-generated\")) e.push(\"tags must include gong-generated\");\n  for (const tag of tags) if (!VOCAB.has(tag)) e.push(`tag not in vocabulary: ${tag}`);\n\n  const noOwner = t.assignee === null || t.assignee === \"\" || t.assignee === undefined;\n  if (noOwner && !tags.includes(\"needs-detail\")) e.push(\"null assignee requires needs-detail tag\");\n\n  if (t.due_date !== null && t.due_date !== undefined) {\n    if (!isDate(t.due_date)) e.push(\"due_date must be YYYY-MM-DD or null\");\n    else if (isWeekend(t.due_date)) e.push(\"due_date falls on a weekend\");\n  }\n  if (t.priority !== null && t.priority !== undefined) {\n    if (!PRIORITY_MAP[t.priority]) e.push(`bad priority: ${t.priority}`);\n    if (!t.due_date) e.push(\"priority set without a due_date\");\n  }\n  if (t.level_of_effort != null && ![\"Small\", \"Medium\", \"Large\"].includes(t.level_of_effort))\n    e.push(`bad level_of_effort: ${t.level_of_effort}`);\n\n  if (t.task_status === \"In Progress\" && !t.clickup_id) e.push(\"In Progress task missing clickup_id\");\n  return e;\n}\n\n// ---- build the ClickUp request payload --------------------------------------\nfunction buildPayload(t, description) {\n  const tags = Array.isArray(t.tags) ? t.tags : [];\n  const payload = {\n    name: t.task_title,\n    markdown_content: description,   // swap to `description` if you prefer plain text\n    tags,\n    custom_fields: [{ id: TASK_CATEGORY_FIELD_ID, value: Number(t.task_category_index) }],\n  };\n  const id = t.assignee && ASSIGNEE_IDS[t.assignee];\n  if (id) payload.assignees = [id];                              // numeric user IDs only\n  if (t.due_date) payload.due_date = Date.parse(t.due_date + \"T17:00:00Z\"); // epoch ms\n  if (t.due_date && t.priority && PRIORITY_MAP[t.priority]) payload.priority = PRIORITY_MAP[t.priority];\n  return payload;\n}\n\n// ---- main -------------------------------------------------------------------\nconst out = [];\nfor (const item of $input.all()) {\n  // The LLM output can sit in different places depending on the node; try the common ones.\n  const src = item.json.output ?? item.json.text ?? item.json.message?.content ?? item.json;\n  let tasks;\n  try {\n    tasks = coerceTasks(src);\n  } catch (err) {\n    out.push({ json: { _valid: false, _errors: [\"could not parse LLM output: \" + err.message], _raw: src } });\n    continue;\n  }\n  for (const t of tasks) {\n    const errors = validate(t);\n    const description = buildDescription(t);\n    const payload = buildPayload(t, description);\n    out.push({ json: { ...t, description, payload, _valid: errors.length === 0, _errors: errors } });\n  }\n}\nreturn out;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1088,
        1104
      ],
      "id": "f1cdf5bd-c686-48d4-bdc9-01603f2f03e4",
      "name": "Build Description"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1",
    "timezone": "America/Chicago",
    "callerPolicy": "workflowsFromSameOwner",
    "errorWorkflow": "y5MVOLL8LyXy45Z7",
    "binaryMode": "separate",
    "availableInMCP": true,
    "timeSavedMode": "fixed"
  },
  "shared": [
    {
      "updatedAt": "2025-07-02T20:27:49.985Z",
      "createdAt": "2025-07-02T20:27:49.985Z",
      "role": "workflow:owner",
      "workflowId": "EZxTSJLatS4LxK07",
      "projectId": "icapzCMs0tNzxlW6"
    }
  ],
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2026-07-10T14:10:12.145Z",
  "versionId": "81e3771a-ee00-43de-b46c-487c30da12b3"
}